<ion-header>
  <ion-toolbar>
    <ion-title>dashboard</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      My Events
    </ion-list-header>
    <ion-item *ngFor="let event of dataSource">
      <ion-avatar slot="start">
        <!-- <img src="./avatar-finn.png" /> -->
        <svg width="42" height="42" viewBox="0 0 512 512">
          <path
            d="M256,48C141.31,48,48,141.31,48,256s93.31,208,208,208,208-93.31,208-208S370.69,48,256,48Zm2,96a72,72,0,1,1-72,72A72,72,0,0,1,258,144Zm-2,288a175.55,175.55,0,0,1-129.18-56.6C135.66,329.62,215.06,320,256,320s120.34,9.62,129.18,55.39A175.52,175.52,0,0,1,256,432Z"
          />
        </svg>
      </ion-avatar>
      <ion-label>
        <h2>{{event.eventName}}</h2>
        <h3>{{event.amount}}</h3>
        <p>{{event.eventDescription}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-list>
    <ion-list-header>
      Invited events
    </ion-list-header>
    <ion-item>
      <ion-avatar slot="start">
        <img src="./avatar-poe.png" />
      </ion-avatar>
      <ion-label>
        <h2>Poe</h2>
        <h3>New Ride</h3>
        <p>I just upgraded my X-Wing. Next time...</p>
      </ion-label>
    </ion-item>
  </ion-list> -->
  <!-- fab placed in the center of the content with a list on each side -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed">
    <ion-fab-button>
      <ion-icon name="add" routerLink="/add-event"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
